[submodule "cpp-httplib"] 
	path = deps/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "fmt"]
	path = deps/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "json"]
	path = deps/json
	url = https://github.com/nlohmann/json.git
[submodule "deps/rpi-rgb-led-matrix"]
	path = deps/rpi-rgb-led-matrix
	url = https://github.com/hzeller/rpi-rgb-led-matrix.git
[submodule "deps/libpng"]
	path = deps/libpng
	url = https://github.com/glennrp/libpng.git
[submodule "astro"]
	path = deps/astro
	url = https://github.com/DonkeyKong/astro.git
[submodule "deps/QR-Code-generator"]
	path = deps/QR-Code-generator
	url = https://github.com/nayuki/QR-Code-generator.git
[submodule "deps/sigslot"]
	path = deps/sigslot
	url = https://github.com/palacaze/sigslot.git
